.tools {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 200px);
	box-sizing: border-box;
}


@media (max-width: 768px) { 
	
	.tools {
	justify-content: center;
	align-items: center;
	width: 100%;
	
	}
	
	
}
