.navbar {
	height: 100px;
	background-color: #000;
display: flex;
align-items: center;
justify-content: space-evenly;

border: 5px solid white;
border-radius: 10px;
flex-wrap: wrap;

}


.NavbarLink {
	
color: rgb(255, 255, 255);
text-decoration: none;

	
}

.NavbarLink:visited {


	
}

.NavbarLink_active {
	
	color: rgb(47, 246, 229);
	text-decoration: none;
		
	}
