.navbar {
	height: fit-content;
	background-color: inherit;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 20px 5px;
min-width: 95%;
box-sizing: border-box;


}


.NavbarLink {
	
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: none;
width: 10rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
margin: 5px;
border: 1px solid rgb(5, 200, 142);
transition: 0.1s;
	
}


.NavbarLink:hover {
	
	box-shadow: 0px 0px 10px 3px rgb(5, 200, 142);

}


.NavbarLink_active {
	
	color: rgb(0, 0, 0);
	
	border: 1px solid rgb(5, 200, 142);
	text-decoration: none;
	background-color: rgb(5, 200, 142);

	width: 10rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
margin: 5px;
	}
