.navbar {
	height: 100px;
	background-color: #000;
display: flex;
align-items: center;
justify-content: space-evenly;

border: 5px solid white;
border-radius: 10px;

}


.NavbarLink {
	
	text-decoration: none;

	
}

.NavbarLink:visited {
	color: white;
	text-decoration: none;

	
}