.sidebar {
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1rem;
	
	min-width: 90%;
	box-sizing: border-box;
	
	z-index: 100;
	
	

}

.sidebarLink {
	color: rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.5);
text-decoration: none;
width: 10rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
border-radius: 10px;

border: 1px solid rgb(255, 255, 255);
transition: 0.1s;
	
}




	