.homeLink {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	color: white;
	border: 5px solid white;
	border-radius: 10px;
}

.homeLinkLink {
	color: white;
	text-decoration: none;
}