.homeLink {
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}

.homeLinkLink {
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
}

.homeLink:hover {
	

	transition: 0.3s;
}

.homeLinkLink:hover {
	
}

