.sideBarItem {
	color: white;
	text-transform: uppercase;
padding-left: 10px;
border-radius: 5px;
height: 2rem;
display: flex;
justify-content: start;
align-items: center;
margin-bottom: 10px;
	
}


.sideBarItem:hover {
	background-color: rgb(5, 200, 142);
	color: rgb(0, 0, 0);
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	-ms-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;




}

hr {
	color: white;
}

@media (max-width: 768px) { 
	
	.sideBarItem {
		justify-content: center;
		align-items: center;
		padding-left: 0px;
	}
	
	}