.sideBarItem {
	
	color: rgb(255, 255, 255);

	text-decoration: none;
	width: 10rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;


	transition: 0.1s;
	
}


.sideBarItem:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(5, 200, 142);



}

hr {
	color: white;
}

@media (max-width: 768px) { 
	
	.sideBarItem {
		justify-content: center;
		align-items: center;
		padding-left: 0px;
	}
	
	}